<a href="https://colab.research.google.com/github/Harsh9304/Machine-Learning/blob/main/python_basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SYSTEM SPECIFICATION

In [ ]:
!cat /proc/cpuinfo

In [ ]:
!cat /proc/meminfo

INSTALLING LIBRARY

In [ ]:
!pip install pandas

#PRINT FUNCTION

In [ ]:
print("Machine Learning")

In [ ]:
print('Machine Learning')

In [ ]:
print("Machine Learning"+" Projects ")

In [ ]:
print(8)

In [ ]:
print(8+3)

#BASIC DATATYPES

1.int
2.float
3.str

In [ ]:
type(8)

In [ ]:
type(5.3)

In [ ]:
type("english")

#CONSTANT AND VARIABLE

In [ ]:
superhero="Iron man"
print(superhero)

In [ ]:
marvel_super_hero="Captain America"
print(marvel_super_hero)

In [ ]:
hero1,hero2,hero3="Captain America","Thor","Batman"
print(hero1)
print(hero2)
print(hero3)

In [ ]:
x=y=z=23
print(x)
print(y)
print(z)

#INPUT FUCTION

In [ ]:
number_1=input("Enter the first number:")
number_2=input("Enter the second number:")
sum=number_1+number_2
print(sum)

In [ ]:
number_1=int(input("Enter the first number:"))
number_2=int(input("Enter the second number:"))
sum=number_1+number_2
print(sum)

In [ ]:
# changing the data type in pyhton
num=5;
print(type(num))
print(float(num))

# BASIC DATA TYPES IN PYTHON
1.INTEGER
2.FLOATING POINT
3.COMPLEX
4.BOOLEAN
5.STRING

In [ ]:
#integers
a=8
print(a)

In [ ]:
type(a)

In [ ]:
#floating number
b=2.3
print(b)
type(b)

In [ ]:
#complex number
c=1+3j
print(c)
type(c)

In [ ]:
#conversion of one data type to another

In [ ]:
#int to float
x=10
print(x)
type(x)

In [ ]:
y=float(x);
print(y)
type(y)

In [ ]:
#float to int
x=5.88
print(x)
type(x)

In [ ]:
y=int(x)
print(y)
type(y)

In [ ]:
#boolean(true and false)
a=True
b=False
print(a)
type(a)
print(b)
type(b)

In [ ]:
a=7 <  3
print(a)

In [ ]:
a=7 >  3
print(a)
type(a)

In [ ]:
#string
print("machine learning")

In [ ]:
my_string="Machine Learning"
print(my_string)
type(my_string)

In [ ]:
print("Hello "*5)

In [ ]:
#slicing a string
my_string ="Programming"
print(my_string[1:5])# values from index 1 to 5-1 will be sliced

In [ ]:
#step
print(my_string[0:10:2])

In [ ]:
#String Concatenation
word_1="Machine"
word_2="Learning"
print(word_1 + " "+word_2)

TYPES OF OBJECTS IN PYTHON
1.IMMUTABLE OBJECTS
2.MUTABLE OBJECTS

IMMUTABLE OBJECTS

1.int
2.float
3.string
4.bool
5.tuple

MUTABLE OBJECTS

1.List
2.Set
3.Dictionary

In [ ]:
#list should be included in the square bracket
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

In [ ]:
#lists can have multiple data types
my_list=[1,2,3.8,"English",True]
print(my_list)
type(my_list)

LISTS ARE MUTABLE-->CHANGEABLE

In [ ]:
#ADD ELEMENTS TO A LIST
my_list=[1,2,3.8,"English",True]
my_list.append(6)
print(my_list)

In [ ]:
#print element of a list using their index
print(my_list[0])
print(my_list[1])
print(my_list[4])

In [ ]:
#list allow duplicates value
list_1=[1,2,3,4,4,5,6]
print(list_1)

In [ ]:
print(len(list_1))

In [ ]:
#initiating empty list
list_2=[]
print(list_2)

In [ ]:
list_2.append(5)# since it is run 4 times
print(list_2)

In [ ]:
# delete an item in list
print(list_2)
del list_2[0]
print(list_2)

In [ ]:
#join two lists
list_3=[1,2,3,4,5]
list_4=[6,7,8,9,10]
list_5=list_3+list_4
print(list_5)

TUPLE

In [ ]:
tuple_1=(1,2,3,4)
print(tuple_1)
type(tuple_1)

In [ ]:
#tuple allows multiple data types
tuple_2=(1,2,3.5,"Machine Learning",False)
print(tuple_2)

In [ ]:
#converting a list to a tuple
my_list=[3,4,5,6]
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

In [ ]:
#indexing in tuple also
print(my_tuple[0])
print(my_tuple[1])

TUPLES ARE IMMUTABLE--> UNCHANGEABLE
ONCE IT IS CREATED WE CAN FUTHER ADD OR DELETE

In [ ]:
#my_tuple.append(6) # so it will give error

In [ ]:
print(len(my_tuple))

SET IN CURLY BRACKETS

In [ ]:
my_set={1,2,3,4}
print(my_set)
type(my_set)
#print(my_set[0]) # it will give error as indexing is not followed in sets

In [ ]:
#convert a list to a set
list_5=[4,5,6,7,8]
x=set(list_5)
print(x)

In [ ]:
#set doesnt allow duplicates value
set_3={1,2,3,4,4,4,5,6,76,6}
print(set_3)

DICTIONARY

key-value pairs

In [ ]:
my_dictionary={'name':'David','age':'30','country':'India'}
print(my_dictionary)
type(my_dictionary)

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

In [ ]:
#dictionary does not allow duplicate values
dictionary_2={'name':'David','age':'30','country':'India','name':'David','age':'30','country':'India' }
print(dictionary_2)

OPERATORS IN PYTHON

1.ARITHMETIC OPERATORS
2.ASSIGNMENT OPERATORS
3.COMPARISON OPERATORS
4.LOGICAL OPERATORS
5.IDENTITY OPERATORS
6.MEMBERSHIP OPERATORS

In [ ]:
#1.ARITHMETIC OPERATORS

In [ ]:
num_1=20
num_2=10

#addition
sum=num_1 + num_2
print('sum= ',sum)

#subtraction
diff=num_1-num_2
print('diff= ',diff)

#multiplication
multi=num_1*num_2
print('multi= ',multi)

#divison
div=num_1/num_2
print('div= ',div)

#exponent
exp=num_1**num_2
print('exp= ',exp)

#modulus
mod=num_1%num_2
print('mod= ',mod)

In [ ]:
#2.ASSIGNMENT OPERATOR   +=,-=,*=,**=/=,%=

In [ ]:
a=5
print(a)

In [ ]:
a=5
a+=5
print(a)

In [ ]:
b=5
b-=2
print(b)

In [ ]:
#COMPARISON OPERATORS

In [ ]:
a=5
b=10

print(a==b)   # equal to
print(a!=b)   #not equal to
print(a>b)    #greater than
print(a<b)
print(a<=b)
print(a>=b)

In [ ]:
#LOGICAL OPERATORS
#THREE LOGICAL OPERATORS--> AND,OR,NOT

In [ ]:
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>5 and a>8))

In [ ]:
#5.Identity Operator  --------> is and is not

In [ ]:
x=5
y=5

print(x is y)

In [ ]:
x=5
y=10

print(x is not y)

In [ ]:
x=5
y=5
print( x is not y)

In [ ]:
#6. MEMBERSHIP OPERATORS -----------> in and not in

In [ ]:
a=5
b=10

c=[1,2,3,4,5]
print(a in c)
print(b in c)

In [ ]:
a=5
b=10

c=[1,2,3,4,5]
print(a not in c)
print(b not in c)

IF-ELSE STATEMENT IN PYTHON

In [ ]:
a=30
b=50

if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

In [ ]:
a=int(input('Enter the first number: '))
b=int(input('Enter the second number:'))

if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

if-elif-else statement

In [ ]:
a=15
b=40
c=30

if(b<a>c):
  print('a is the greatest number')
elif(a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

nested if statement

In [ ]:
a=20
b=40
c=60

if(a>b):
  if(a>c):
    print('a is greatest')
  else:
    print('c is greatest')
else:
  if(b>c):
    print('b is greatest')
  else:
    print('c is greatest')

FOR LOOP

In [ ]:
laptop_1=int(input('Enter the price of the laptop:'))
laptop_2=int(input('Enter the price of the laptop:'))
laptop_3=int(input('Enter the price of the laptop:'))
laptop_4=int(input('Enter the price of the laptop:'))
laptop_5=int(input('Enter the price of the laptop:'))

In [ ]:
for i in range(5):    #0,1,2,3,4
  laptop_price=int(input('Enter the price of the laptop:'))

In [ ]:
#list
numbers=[50,100,150,200,10]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

In [ ]:
number=[50,220,90,180,40]

for i in number:
  print(i)

WHILE LOOP

In [ ]:
i=0

while i<10:
  print(i)
  i+=1   # i=i+1

FUNCTIONS:

FUNCTION IS A BLOCK OF CODE THAT CAN BE REUSED IN A PROGRAM

FACTORIAL OF A NUMBER

Factorial of a number is the product of all positive number integers less than or equal to the given number

In [ ]:
number = int(input('Enter a number to find its factorial: '))
factorial =1

if number==0:
  print('The Factorial of 0 is 1')
else:
  for i in range(1,number+1):
    factorial=factorial*i
  print('The factorial of ',number,'is',factorial)

factorial function

In [ ]:
def factorial_value(num):

  factorial =1

  if num == 0:
    return factorial

  else:
    for i in range(1,num+1):
      factorial=factorial*i
    return factorial

In [ ]:
print(factorial_value(5))

In [ ]:
print(factorial_value(10))